.header .title-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    justify-content: center;
}

.header .sair {
    text-align: end;
}

// .header{
//     background-color: lightgray;
// }

// .header a {
//     display: flex;
//     text-decoration: none;
    
// }

// .header .logo {
//     max-height: 32px;
// }


// .header .title-group i {
//     padding-right: 20px;
// }

// .sair {
//     margin-right: 10px;
//     margin-left: 980px;
//     color: green;
// }

// .homeIcon {
//     color: dimgray;
// }
// .logoutIcon {
//     margin-left: 10px;
// }

// i {
//     font-size: 36px;
// }