<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <!-- <img class="logo" src="" alt="logo"> -->
        </a>
    </span>
    <span class="title-group">
        <a class="homeIcon" routerLink="/">
            <i class=" home material-icons"> home </i>
            CRUD - Treinamento Web com Angular Material
        </a>
    </span>
    <span>
        <a class="sair" routerLink="/">
            Sair
            <i class="logoutIcon material-icons">logout</i>
        </a>
    </span>
</mat-toolbar>