.login-body {
    flex-direction: column;
    margin: 140px 0px 0px 400px;
    width: 40%;
}

.mat-card-title {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.login {
    margin: auto;
}

.btnLogin {
    margin-right: 10px;
}