<fieldset class="login-body">
    <legend> Autenticação do Usuário </legend>
    <mat-card class="login mat-elevation-z4">
        <mat-card-title> Login </mat-card-title>
        <form class="row" (ngSubmit)="login()" #loginForm="ngForm">
            <mat-form-field>
                <input matInput required placeholder="Email" [(ngModel)]="user.email" name="email" type="email"
                    #campoEmail="ngModel">
                <app-mensagem *ngIf="campoEmail.invalid && campoEmail.touched"
                    mensagem="Email é obrigatório."> 
                </app-mensagem>
            </mat-form-field>
            <mat-form-field> 
                <input matInput required placeholder="Password" [(ngModel)]="user.password" name="password"
                    type="password" #campoPassword="ngModel">
                <app-mensagem *ngIf="campoPassword.invalid && campoPassword.touched"
                    mensagem="Password é obrigatório.">
                </app-mensagem>
            </mat-form-field>
        </form>

        <button type="submit" class="btnLogin" [disabled]="loginForm.invalid" mat-raised-button (click)="login()"
            color="primary">
            Login
        </button>

        <p>Ainda não tem cadastro ? <a routerLink="/user-create">Click aqui</a></p>

    </mat-card>
</fieldset>