.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 30px;
    font-weight: bold;
    color: #bbbbbb;
}

.mat-card {
    background-color: hsl(22, 32%, 43%);
    width: 30%;
    margin: 10% auto;
    border-radius: 8px;
    text-align: end;
}

.btnLogin{
    margin-right: 10px;
    background-color: #3f51b5;
    color: #FFF;
    width: 100px;
}

.formLogin {
    width: 300px;
    color: #FFF;
}

a {
    color: #bbbbbb;
    font-size: 12px;
}

.placeholder {
    color: #bbbbbb;
}