<fieldset class="usuario-body">
    <legend> Cadastro de Usuário </legend>
    <mat-card class="home mat-elevation-z4">
        <mat-card-title> Dados Pessoais </mat-card-title>
        <form class="row" (ngSubmit)="createUser()" #loginForm="ngForm">
            <mat-form-field>
                <input matInput required placeholder="Nome" [(ngModel)]="user.nome" name="nome" type="text"
                    #campoNome="ngModel">
                <app-mensagem *ngIf="campoNome.invalid && campoNome.touched" mensagem="Preenchimento do nome é obrigatório."></app-mensagem>
            </mat-form-field>
           
            <mat-form-field>
                <input matInput required placeholder="Sobrenome" [(ngModel)]="user.sobrenome" name="sobrenome"
                    type="text" #campoSobrenome="ngModel">
                <app-mensagem *ngIf="campoSobrenome.invalid && campoSobrenome.touched" mensagem="Preenchimento do sobrenome é obrigatório.">
                </app-mensagem>
            </mat-form-field>
           
            <mat-form-field>
                <input matInput required placeholder="Telefone" [(ngModel)]="user.telefone" name="telefone"
                    type="text" #campoTelefone="ngModel">
                <app-mensagem *ngIf="campoTelefone.invalid && campoTelefone.touched" mensagem="Preenchimento do telefone é obrigatório.">
                </app-mensagem>
            </mat-form-field>
           
            <mat-form-field>
                <input matInput required placeholder="Email" [(ngModel)]="user.email" name="email" type="email"
                    #campoEmail="ngModel">
                <app-mensagem *ngIf="campoEmail.invalid && campoEmail.touched" mensagem="Preenchimento do email é obrigatório.">
                </app-mensagem>
            </mat-form-field>
            <mat-form-field>
                <input matInput required placeholder="Password" [(ngModel)]="user.password" name="password"
                    type="password" #campoPassword="ngModel">
                <app-mensagem *ngIf="campoPassword.invalid && campoPassword.touched" mensagem="Preenchimento do password é obrigatório.">
                </app-mensagem>
            </mat-form-field>
        </form>

        <button type="submit" class="btnSalvar" [disabled]="loginForm.invalid" mat-raised-button (click)="createUser()"
            color="primary">
            Salvar
        </button>

        <button class="btnCancelar" mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </mat-card>
</fieldset>